name = "versions-worker"
main = "src/index.ts"
compatibility_date = "2024-03-20"
node_compat = true

[vars]
S3_URL="https://s3.mcjars.app"
PROXY_AUTH=""

[[d1_databases]]
binding = "DB"
database_name = "mcvapi"
database_id = "xxx-x-x-x-xxxxx"

[[kv_namespaces]]
binding = "KV"
preview_id = "xxxxx"
id = "xxxxx"

[placement]
mode = "smart"

[triggers]
crons = ["0 * * * *"]